.personaje_hablar {
  font-weight: bold;
}
.personaje_hablar_bueno {
  font-family: Comic Sans MS, Comic Sans, cursive;
  opacity: 0.6;
}
.personaje_hablar_malo {
  font-family: Andale Mono, monospace;
}
.narrador_hablar {
  font-family: monospace;
  margin: 5px;
}
.disparo {
  color: red;
}
main {
  width: 80%;
  padding: 10px;
  margin: 0 10% 0 10%;
  border-left: 5px inset #FF9503;
}
h1{
  padding: 20px;
  background-color: #FFC076;
}
#subtitulo{
  margin-bottom: 50px;
}
